/PulserBoard_v1.1_assembly
/ROOTstuff
/Alitum
/Analysis
/CERN Documentation
/Root Guide
/Linux Info
adapterboardmapping.txt
adapterboardmapping.xlsx
mapping.txt
sTGC_pAB_042L_Length.txt
sTGC_pAB_042R_Length.txt
sTGC_Pad_AB_070L_Length.txt
sTGC_Pad_AB_070R_Length.txt
sTGC_Pad_AB_075L_Length.txt
sTGC_Pad_AB_075R_Length.txt
sTGC_Pad_AB_112L_Length.txt
sTGC_Pad_AB_112L_Length.txt
AltiumDesignerSetup_19_1_5.exe
Analog_and_Digital_Electronics_for_Detectors.pdf
CERN REU Technical Essay.pdf
random.txt